Language: Cpp
Standard: c++20

ColumnLimit: 160
IndentWidth: 4

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Empty

AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AlignTrailingComments: false

BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakTemplateDeclarations: Yes

AccessModifierOffset: -4
IndentAccessModifiers: false

IncludeBlocks: Merge
FixNamespaceComments: false

AllowAllConstructorInitializersOnNextLine: true
BinPackArguments: false
IndentCaseLabels: true
SpaceAfterTemplateKeyword: false

PenaltyBreakAssignment: 10000
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakOpenParenthesis: 10000
PenaltyBreakScopeResolution: 10000