[submodule "kwin"]
	path = kwin
	url = https://github.com/InputActions/kwin.git
[submodule "hyprland"]
	path = hyprland
	url = https://github.com/InputActions/hyprland.git
[submodule "standalone"]
	path = standalone
	url = https://github.com/InputActions/standalone.git
[submodule "ctl"]
	path = ctl
	url = https://github.com/InputActions/ctl.git
