name: Arch Linux

on:
  push:
    branches: [ main ]
    paths-ignore: [ "**.md" ]
  pull_request:
    branches: [ main ]
    paths-ignore: [ "**.md" ]
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  build_hyprland:
    name: Build (Hyprland)
    runs-on: ubuntu-latest
    container:
      image: archlinux:base-devel # zizmor: ignore[unpinned-images]
      options: --user root

    steps:
      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Refresh Packages
        run: pacman -Syu --noconfirm

      - name: Install Dependencies
        run: pacman -S --needed --noconfirm base-devel git extra-cmake-modules qt6-tools hyprland yaml-cpp libevdev

      - name: Configure CMake
        run: cmake -B "${GITHUB_WORKSPACE}/build" -DINPUTACTIONS_BUILD_HYPRLAND=ON

      - name: Build
        run: cmake --build "${GITHUB_WORKSPACE}/build" -j$(nproc)

  build_kwin:
    name: Build (KWin)
    runs-on: ubuntu-latest
    container:
      image: archlinux:base-devel # zizmor: ignore[unpinned-images]
      options: --user root

    steps:
      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Refresh Packages
        run: pacman -Syu --noconfirm

      - name: Install Dependencies
        run: pacman -S --needed --noconfirm base-devel git extra-cmake-modules qt6-tools kwin yaml-cpp libevdev

      - name: Configure CMake
        run: cmake -B "${GITHUB_WORKSPACE}/build" -DINPUTACTIONS_BUILD_KWIN=ON

      - name: Build
        run: cmake --build "${GITHUB_WORKSPACE}/build" -j$(nproc)

  build_standalone:
    name: Build (standalone)
    runs-on: ubuntu-latest
    container:
      image: archlinux:base-devel # zizmor: ignore[unpinned-images]
      options: --user root

    steps:
      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Refresh Packages
        run: pacman -Syu --noconfirm

      - name: Install Dependencies
        run: pacman -S --needed --noconfirm base-devel git extra-cmake-modules qt6-tools yaml-cpp libevdev

      - name: Configure CMake
        run: cmake -B "${GITHUB_WORKSPACE}/build" -DINPUTACTIONS_BUILD_STANDALONE=ON

      - name: Build
        run: cmake --build "${GITHUB_WORKSPACE}/build" -j$(nproc)

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true