name: openSUSE Tumbleweed

on:
  push:
    branches: [ main ]
    paths-ignore: [ "**.md" ]
  pull_request:
    branches: [ main ]
    paths-ignore: [ "**.md" ]
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  build_kwin:
    name: Build (KWin)
    runs-on: ubuntu-latest
    container:
      image: opensuse/tumbleweed # zizmor: ignore[unpinned-images]
      options: --user root

    steps:
      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Refresh Packages
        run: zypper ref

      - name: Install Dependencies
        run: zypper in -y cmake-full gcc-c++ kf6-extra-cmake-modules kf6-kguiaddons-devel kf6-kconfigwidgets-devel kf6-ki18n-devel kf6-kcmutils-devel "cmake(KF6I18n)" "cmake(KF6KCMUtils)" "cmake(KF6WindowSystem)" "cmake(Qt6Core)" "cmake(Qt6DBus)" "cmake(Qt6Quick)" "cmake(Qt6Widgets)" libepoxy-devel kwin6-devel yaml-cpp-devel libxkbcommon-devel libevdev-devel

      - name: Configure CMake
        run: cmake -B "${GITHUB_WORKSPACE}/build" -DINPUTACTIONS_BUILD_KWIN=ON

      - name: Build
        run: cmake --build "${GITHUB_WORKSPACE}/build" -j

  build_standalone:
    name: Build (standalone)
    runs-on: ubuntu-latest
    container:
      image: opensuse/tumbleweed # zizmor: ignore[unpinned-images]
      options: --user root

    steps:
      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Refresh Packages
        run: zypper ref

      - name: Install Dependencies
        run: zypper in -y cmake-full gcc-c++ kf6-extra-cmake-modules "cmake(Qt6Core)" "cmake(Qt6DBus)" "cmake(Qt6Network)" yaml-cpp-devel libevdev-devel libudev-devel libinput-devel wayland-devel libxkbcommon-devel

      - name: Configure CMake
        run: cmake -B "${GITHUB_WORKSPACE}/build" -DINPUTACTIONS_BUILD_STANDALONE=ON

      - name: Build
        run: cmake --build "${GITHUB_WORKSPACE}/build" -j


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true